@use 'sass:color';


/* =================
  Media queries breakpoints
================= */
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
);


/* =================
  Colors
================= */
$primary-color: rgb(57, 47, 90);
$primary-color-lighter: color.adjust($primary-color, $lightness: 20%);
$secondary-color: rgb(255, 136, 17);
$active-page-color: rgb(247, 228, 175);
$shadow-color: rgb(144, 144, 144);
$error-color: rgba(224, 65, 83, 0.916);


/* =================
  Typography
================= */

/* font family*/
$body-font-family: 'Roboto', sans-serif;
$title-font-family: 'Abril Fatface', serif;

/* body font sizing*/
$body-font-size: (
  mobile: 1.5rem,
  desktop: 1.6rem,
);

/* increment sizing factors for titles and subtitles based on the body font size*/
$sizing-factors: (
  mobile: (title: 1.3,
    subtitle: 1.25),
  desktop: (title: 1.96,
    subtitle: 1.6),
);