.wrapper-list-page {
  margin: 0 auto;
  color: #222;
}

.header-btn-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 2rem 0;
}

.header-btn-list>h1 {
  font-family: 'Guardian-EgypTT', Charter, 'Charter Bitstream', Cambria, 'Noto Serif Light', 'Droid Serif', Georgia, serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.wrapper-btn-list {
  padding: 1rem;
}

.btn-1-list {
  padding-bottom: 1.6rem;
}

.wrapper-grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 4rem;
}

.grid-item-list:hover {
  cursor: pointer;
}

.grid-item-list>a {
  text-decoration: none;
}


/* =================
media queries
================= */
@media screen and (min-width: 576px) {
  .wrapper-list-page {
    max-width: 90%;
  }

  .wrapper-btn-list {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  .btn-1-list {
    padding-right: 6rem;
  }

  .header-btn-list>h1 {
    font-size: 2.7rem;
  }
}