/* #root, .App {
  height: 100vh;
} */

.error-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: fit-content;
  min-height: 100vh;
  background-color: #000;
}

.img-error {
  max-width: 50%;
}

.card {
  text-align: center;
  color: #fff;
}

.btn {
  margin: 2rem;
  padding: 0.5rem;
  background-color: rgb(194, 2, 194);
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  border: none;
  border-radius: 0.5rem;
}