.product-wrapper {
  display:grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  justify-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
  min-height: 100vh;
}

.prod-info-1{
  display:flex;
}

/* .product-wrapper > .img-wrapper {
  height: 40rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: #d4c0a8 solid 1px;
  border-radius: 1rem;
} */

.product-wrapper > img {
  max-width:100%;
  width: 30rem;
  height:100%;
  object-fit: contain;
  max-height: min-content;
}