.wrapper-product-card {
  margin: 0 0.1rem;
  text-align: center;
  text-decoration: none;
}

.wrapper-img-prod-card {
  height: 25rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.wrapper-img-prod-card>img:hover {
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  transform: scale(1.2);
  box-shadow: 0 0 5px rgba(144, 144, 144);
}

.wrapper-img-prod-card>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.wrapper-product-card>h2 {
  font-size: 1.5rem;
  color: rgb(57, 47, 90);
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wrapper-product-card>.price {
  padding: 0.8rem 0;
  color: rgb(255, 136, 17);
  font-size: 1.7rem;
}

.wrapper-product-card>.rating {
  color: rgb(115, 102, 161);
  font-size: 1.2rem;
}


/* =================
media queries
================= */
/* tablets */
@media screen and (min-width: 481px) {
  .wrapper-product-card {
    margin: 1rem;
  }

  .wrapper-product-card>.wrapper-img {
    height: 20rem;
  }

  .wrapper-product-card>h2 {
    font-size: 1.3rem;
  }

  .wrapper-product-card>.price {
    font-size: 1.2rem;
  }

  .wrapper-product-card>.rating {
    font-size: 1.2rem;
  }
}